.logo{
	width: 100px;
	height: 35px;

}
body{
	background: #f3f3f3;
}

.main{
	background: #fff;
	width: 730px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}

.page-title{
	text-align: center;
}

.ul{
	list-style: none;
	padding: 0;
}
.alert{

	width: 500px;
	text-align: center;
	margin: 0 auto;
	
}